* {
    box-sizing: border-box; 
}
body {
    margin: 0px; 
   /* background-image: url(asset/image/background1.png); */ 
   background-color: lightgrey; 
}

.header {
    background-color: rgb(73, 74, 74); 
    width: 100%;
    overflow: auto; 
}

h1 {
    margin: 0px 0px 0px 5%; 
    float: left; 
    color: white; 
    background-color: blue; 
    padding: 10px; 
}
nav {
    text-align: center; 
    float: right;
    margin-right: 5%;
}
.wrapper {
    clear: both; 
    width: 960px; 
    margin: 20px 5%; 
    overflow: auto; 
}
.content {
    background-color: white; 
    width: 650px; 
    float: left;
    padding: 10px; 
}
h2 {
    color: rgb(83, 196, 230); 
}
#profile_pic {
    float: left;
    margin: 5px 5px 0px 5px;
}
.sidebar {
    padding: 10px; 
    float: right; 
    background-color: white;
}
.logo {
    width: 50px;
    height: 50px;
}
footer {
    position: relative;
    bottom: 0px; 
    clear: both;
    width: 100%; 
    padding: 30px 0px 5px 0px; 
    background-color: rgb(109, 107, 107); 
    border-top: 5px solid rgb(114, 165, 183)
   
}
h6 {
    margin: 0px; 
    color: white;
    text-align: center;
}